#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  min-width: 640px;
}

h1 {
  margin-top: 0;
}

.extensions-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.no-extensions {
  font-size: 1rem;
  color: #999;
}

.extensions-list {
  list-style: none;
  padding: 0;
}

.extension-item {
  margin-bottom: 3rem; /* Further increase spacing between extensions */
}

.extension-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.extension-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
}

.permissions-list {
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

.permission-item {
  display: block; /* Changed to block to stack items vertically */
  margin-bottom: 5px; /* Reduce spacing between permissions */
}

.permission-name {
  font-family: monospace; /* Apply monospace font */
}

.no-permissions {
  font-size: 0.9rem;
  color: #999;
}

.dropdown-trigger {
  background: none;
  border: none;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
  font-size: 1em;
  color: inherit;
  display: inline;
}

/* Updated the background color and text color for better visibility during the day */
.dropdown-content {
  display: block;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative; /* Changed to relative to integrate into the flow */
  z-index: auto; /* Removed stacking context */
  margin-top: 10px;
  max-width: 100%; /* Ensures it spans the container */
  line-height: 1.5;
}

.malicious-info {
  position: relative;
  display: inline-block;
}

.malicious-info-container {
  display: inline;
}

.malicious-description p {
  padding: 1em;
  background-color: rgba(126, 126, 126, 0.1);
}

.severity-badge {
  display: inline-block;
  margin-left: 10px;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.severity-low {
  background-color: green;
}

.severity-medium {
  background-color: orange;
}

.severity-high {
  background-color: red;
}

.severity-critical {
  background-color: darkred;
}

.host-permission-name {
  font-family: monospace; /* Apply monospace font */
}